@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
body{
    padding:0;
    margin:0;
    background: rgb(23,23,23);
    background: linear-gradient(#323233, #0F0F0F);
    color: white;
    font-family: 'Abel', sans-serif;
}
.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
    padding-top: 20px;
}
.sidenav p {
    padding: 6px 6px 6px 25px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    bottom:50px;
    position: absolute;
    transition: 0.3s;
}
.sidenav:hover p {
    color: #f1f1f1;
}
.sidenav h2 {
    padding: 6px 6px 6px 35px;
    display: block;
    top:50px;
    font-size: 40px;
    position: absolute;
    margin-top:0;
}
.main {
    margin-top:0;
    margin-left: 200px;
    padding-top:5%;
    height:85%;
}
.title{
    margin-left:22%;
    top: 50px;
    max-width: 55%;
    text-align: center;
}
.logo{
    position:fixed; top:0; left:0;
    color:white;
}
ul {
    counter-reset: index;
    padding: 0;
    max-width: 300px;
    position: absolute;
    top:10%;
    bottom: 0;
    left: 9%;
    right: 0;
    margin: auto;
    overflow: auto;
    max-height: 60%;
}
ul::-webkit-scrollbar {
    width: 10px;
}
ul::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
}
ul::-webkit-scrollbar-thumb {
    background-color: white;
    background-clip: padding-box;
}
/* List element */
li {
    counter-increment: index;
    display: flex;
    align-items: center;
    padding: 12px 0;
    box-sizing: border-box;
}
/* Element counter */
li::before {
    content: counters(index, ".", decimal-leading-zero);
    font-size: 32px;
    text-align: right;
    font-weight: bold;
    min-width: 50px;
    padding-right: 12px;
    font-variant-numeric: tabular-nums;
    align-self: flex-start;
    background-image: linear-gradient(to bottom, #80FF72, #7EE8FA);
    background-attachment: fixed;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* Element separation */
li + li {
    border-top: 1px solid rgba(255,255,255,0.2);
}